.App {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Chat {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    grid-column: 3;
    border: 2px solid black;
}

.Chat textarea {
    resize: none;
}

.MessageList {
    border: 2px solid black;
    height: 20em;
    width: 100%;
    margin-bottom: 1em;
}
